.headerpad
{
  margin-top:10px;
}
.buttonpadding
{
  margin-left:10px;
  margin-top: 5px;
}



.acolor
{
  color: white;
}
.space
{
  margin-top: 90px;
}
.location
{
     padding-right: 300px;
}

.tablemargin
{
  margin-top: 15px;
}
.namemodify
{
  width: 40% !important;

}
