<div class="container space" >
<div class="row">
 <div class="col-md-2">
   <ul class="list-group">
     <li ><a href="#home">Index</a></li>
     <li ><a href="#news">Starred</a></li>
     <li ><a href="#contact">Send Mail</a></li>
     <li ><a href="#about">Drafts</a></li>
   </ul>
   <!-- <div class="list-group">
       <a href="#" class="list-group-item active">
           <span class="glyphicon glyphicon-camera"></span> Pictures <span class="badge">25</span>
       </a>
       <a href="#" class="list-group-item">
           <span class="glyphicon glyphicon-file"></span> Documents <span class="badge">145</span>
       </a>
       <a href="#" class="list-group-item">
           <span class="glyphicon glyphicon-music"></span> Music <span class="badge">50</span>
       </a>
       <a href="#" class="list-group-item">
           <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
       </a>
   </div> -->
 </div>

 <div class="col-md-10" >

<!-- <table class="table colortable" >
    <tr  *ngFor="let mail of allMails">
      <a class="acolor" (click)="maildetails(mail)">
      <th class="price-label" class="namemodify"><input type="checkbox"></th>
      <td class="namemodify">{{mail.name}}</td>
      <td class="submodify">{{mail.sub}}</td>
      <td class="timemodify">{{mail.time}}</td>

    </a>
    </tr>

</table> -->
<div class="mb-4">
 <input type="checkbox">&nbsp; Select All
</div>
<table class="table table-hover " >
  <thead class="thead-light">

  <tr>
      <th>Name</th>
      <th>Description</th>
      <th class="text-right">Time</th>
  </tr>
    </thead>
    <tbody>

    <tr *ngFor="let mail of allMails"  class="text-left" routerLink='/showmail' >

      <td class="namemodify" ><input type="checkbox"> &nbsp;&nbsp;{{mail.name}}</td>
      <td >{{mail.sub}}</td>
      <td class="text-right">{{mail.time}}</td>

    </tr>

</tbody>
</table>

 </div>
</div>
</div>
